// <uniquifier>: Use a unique and descriptive class name

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --accent-color:#922B21;
    --bg-color: #FAE5D3;
    --sub-font: "Georgia", sans-serif;
    --main-font: "Jersey 10", sans-serif;
    --g-ratio: 1.618;
  }


body {
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2rem;
}
h1,
h2,
h3,
.title {
  font-family: var(--main-font);
  font-weight: 900;
  color: var(--accent-color);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #880808;
}
