// <uniquifier>: Use a unique and descriptive class name

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --accent-color:#922B21;
    --bg-color: #FAE5D3;
    --sub-font: "Georgia", sans-serif;
    --main-font: "Jersey 10", sans-serif;
    --g-ratio: 1.618;
  }


body {
 font-family: "Jaro", sans-serif;
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2rem;
}
h1,
h2,
h3,
 {
  font-family: "Jaro", sans-serif;
  font-weight: 900;
  color: var(--accent-color);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #880808;
}
li{
  float: left;
}
li a, .dropBtn{
  display: inline-block;
  color:white;
  text-align: center;
  padding: 12px 14px;
}
li a:hover, .dropDown:hover .dropBtn{
background-color:#D70040;
}
li.dropDown{
  display: inline-block;
}
.dropDown-content{
display: none;
position: absolute;
  background-color: #C41E3A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px 	rgb(210, 4, 45);
  z-index: 1;
}
.dropDown-content a{
  color: 	#800020;
  display: block;
  text-align: left;
}
.dropDown:hover .dropDown-content{
  display:block;
}
.dropDown-content a:hover{
  color: #DC143C;
  background-color: white;
}
#left{
   position: absolute;
  left: 1px;
  margin: 2px;
  padding: 2px;
  border: 2px solid black;
  width:25%;
  height: 600px;
}
#right{
    position: absolute;
  right: 1px;
  margin: 2px;
  padding: 2px;
  border: 2px solid black;
  width:75%;
  height: 1200;
}
